.about-company {
  position: relative;
  padding-block: 80px 48px;
  padding-inline: 15px;
  background: url('../../assets/images/about-company-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 163px 0px 98px -8px rgba(0,0,0,0.9);
}

.about-company::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.about-company__wrapper {
  position: relative;
  z-index: 2;
}

.about-company__title {
  margin-block-end: 36px;
  font-size: 48px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.about-company__texts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 778px;
  margin-block-end: 60px;
}

.about-company__text {
  color: #fff;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: 0.63px;
}

.about-company__register-btn {
  width: 444px;
  height: 60px;
  margin-inline: auto;
  margin-block-end: 36px;
}

.about-company__bottom {
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 130%;
}