.redBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;

  background: var(--color-red);
  border: 2px solid transparent;
  cursor: pointer;
  transition: color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease,
    transform 0.3s ease;
}

.redBtn:hover {
  color: var(--color-red);
  border-color: var(--color-red);
  background-color: #fff;
}

.redBtn:active {
  transform: scale(0.99);
}

.gradientTitle {
  background: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}