.menu-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: inline-block;
  cursor: pointer;
  text-align: right;
}

.menu-icon__bar1,
.menu-icon__bar2,
.menu-icon__bar3 {
  width: 35px;
  height: 5px;
  background: var(--color-light-blue);
  margin: 6px 0;
  transition: 0.4s;
}

.open-menu .menu-icon__bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.open-menu .menu-icon__bar2 {
  opacity: 0;
}

.open-menu .menu-icon__bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media (min-width: 830px) {
  .menu-icon {
    display: none;
  }
}