.reviews {
  padding-block: 30px 40px;
  text-align: center;
}

.reviews__title {
  margin-block-end: 36px;
  font-size: 48px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.reviews__slider {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  margin-block-end: 20px;
}

.slide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 40px;
}

.slide__img {
  display: block;
  width: 180px;
  height: 180px;
  margin-inline: auto;
  margin-block-end: 16px;
  object-fit: cover;
  border-radius: 50%;
}

.slide__title {
  margin-block-end: 4px;
  font-size: 28px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.slide__subtitle {
  margin-block-end: 24px;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.66px;
}

.slide__text {
  margin-inline: auto;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.66px;
  white-space: wrap;
  max-width: 1100px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  transform: translateY(-50%);
  background-color: var(--color-light-grey);
  cursor: pointer;
}

.slick-prev {
  left: 15px;
}

.slick-next {
  right: 15px;
}

.slick-prev img,
.slick-next img {
  display: block;
  width: 16px;
  height: 16px;
  object-fit: contain;
}