.survey {
  padding-block: 60px;
  text-align: center;
  background-color: var(--color-blue);
}

.survey__wrapper {
  padding-inline: 40px;
}

.survey__title {
  margin-bottom: 22px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.survey__subtitle {
  margin-bottom: 48px;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.survey__join-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-inline: auto;

  color: var(--color-blue);
  font-size: 18px;
  text-transform: uppercase;

  background: #fff;
  border: 2px solid var(--color-blue);
  cursor: pointer;
  transition: color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease,
    transform 0.3s ease;
}

.survey__join-btn:hover {
  color: #fff;
  border-color: #fff;
  background-color: var(--color-blue);
}

.survey__join-btn:active {
  transform: scale(0.99);
}

.survey .irs {
  display: block;
  width: 100%;
  margin-inline: auto;
  margin-block-end: 15px;
}

.survey__labels {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
  margin-block-end: 50px;
}

.survey__label {
  margin-block-end: 25px;
  text-align: left;
  color: #fff;
  font-size: 24px;
}

.survey__profit {
  margin-block-end: 45px;
  text-align: left;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.survey .irs--flat .irs-bar {
  background: var(--color-gradient);
}

.survey .irs--flat .irs-handle {
  top: 18px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.survey .irs--flat .irs-handle>i:first-child {
  background-color: transparent;
}

.survey .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  color: #000;
  background-color: white;
}

.survey .irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

@media (min-width: 640px) {
  .survey__join-btn {
    width: 380px;
    font-size: 24px;
  }
}