@import './utils/_reset.css';
@import './utils/_normalize.css';

@import './blocks/_header.css';
@import './blocks/_menuIcon.css';
@import './blocks/_menu.css';
@import './blocks/_main.css';
@import './blocks/_register.css';
@import './blocks/_form.css';
@import './blocks/_about-project.css';
@import './blocks/_about-company.css';
@import './blocks/_elements.css';
@import './blocks/_reviews.css';
@import './blocks/_survey.css';
@import './blocks/_benefits.css';
@import './blocks/_signIn.css';
@import './blocks/_footer.css';

@import './blocks/_tel-input.css';

:root {
  --desktop-xl-min-width: 1440px;
  --desktop-min-width: 960px;
  --tablet-min-width: 640px;
  --mobile-min-width: 320px;

  --color-gradient: linear-gradient(90deg, rgba(27,177,71,1) 10%, rgba(1,142,213,1) 100%);
  --color-red: #FA0606;
  --color-black: #181818;
  --color-light-green: #1bb147;
  --color-grey: #878787;
  --color-light-grey: #cbc9c9;
  --color-light-blue: #029ed0;
  --color-blue: #0048b1;
  
  --effect-duration: 0.3s linear;

  scroll-behavior: smooth;
}

@media (min-width: 960px) {

}

body {
  font-family: Verdana, sans-serif;
  color: var(--color-black);
}

.container {
  max-width: var(--desktop-xl-min-width);
  margin-inline: auto;
  box-sizing: border-box;
}